{% macro select_tag(name, options, default=None) %}
<select name='{{name}}' {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %} >
    {% for item in options %}
    <option value='{{item[0]|safe}}' {% if item[0] == default %}selected='selected'{% endif %} >{{item[1] if item[1] is defined else item[0] }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro checkbox_tag(name, options, checked=None) %}
<div class='checkbox-group' >
{% for item in options %}
    {{ label(item[0], item[1]) }}
    <input name='{{name}}[]' type='checkbox' value='{{item[0]}}' {% if item[0] in checked %}checked='checked'{% endif %} {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %}/>
{% endfor %}
</div>
{% endmacro %}

{% macro radio_tag(name, options, default=None) %}
{% for item in options %}
<div class='radio-group' >
    {{ label(item[0], item[1]) }}
    <input name='{{name}}[]' type='radio' value='{{item[0]}}' {% if item[0] == default %}checked='checked'{% endif %} {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %}/>
</div>
{% endfor %}
{% endmacro %}

{% macro button_tag(name, text, type="submit") %}
<button name={{name}} type='{{type}}' {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %} >{{ text if text is defined and text != "" else (name|capitalize()) }}</button>
{% endmacro %}

{% macro input_tag(name, type="text") %}
<input name='{{name}}' type='{{type}}' {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %} />
{% endmacro %}

{% macro textarea_tag(name, value="") %}
<textarea name='{{name}}' {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %} >{{value}}</textarea>
{% endmacro %}

{% macro label(for_name, title) %}
<label for='{{for_name}}' {% for key in kwargs %}{{key}}='{{kwargs[key]|safe}}'{% endfor %} >{{ (title) if (title is defined and title != "") else (for_name|capitalize()) }}</label>
{% endmacro %}

{#
    Below macros are wrapped with <div>
#}

{% macro select(name, options, default=None) %}
<div class='group'>
    {{ label(name, kwargs['title']) }}
    {{ select_tag(name, options, default) }}
</div>
{% endmacro %}

{% macro input(name, type="text") %}
<div class='group' >
    {{ label(name, kwargs['title']) }}
    {{ input_tag(name, type, **kwargs) }}
</div>
{% endmacro %}

{% macro textarea(name) %}
<div class='group' >
    {{ label(name, kwargs['title']) }}
    {{ textarea_tag(name, kwargs['value']) }}
</div>
{% endmacro %}
